<div class="bg-primary mg-b-64px">
    <div class="container pd-y-24px  d-flex alignItems-c justifyContent-c ">
        <h4 class="mg-r-24px">加入會員取得 9 折優惠</h4><a href="#" class="btn-black">馬上註冊</a>
    </div>
</div>
<footer >
    <div  class="container">
        <ul class="d-flex alignItems-c flex-dir-column alignItems-mb-s pd-b-24px border-b-gray mg-b-32px">
            <li class="mg-r-auto"><a href="index.html"><img
                        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg"
                        alt=""></a></li>
            <ul class="d-flex flex-dir-column mg-l-mb-10px">
                <li class="mg-r-40px"><a class=" pd-y-12px" href="productList.html">商品列表</a></li>
                <li><a  class=" pd-y-12px" href="story.html">品牌故事</a></li>
            </ul>
        </ul>
        <div class="copyRight textAlign-c ft-size-14px ft-gray mg-b-64px mg-b-">
            <p>Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved</p>
        </div>
    </div>
    
</footer>