<div class="joinMember">
    <div class="container d-flex pd-24px">
        <h4>加入會員取得 9 折優惠</h4><a href="#">馬上註冊</a>
    </div>
</div>
<footer >
    <div  class="container">
        <ul class="link d-flex splace-b">
            <li><a href="index.html"><img
                        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg"
                        alt=""></a></li>
            <ul class="d-flex splace-b">
                <li><a href="productList.html">商品列表</a></li>
                <li><a href="story.html">品牌故事</a></li>
            </ul>
        </ul>
        <div class="copyRight">
            <p>Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved</p>
        </div>
    </div>
</footer>