 <header>
        <div class="container d-flex align-items-center">
                <ul class="d-flex splace-b align-items-center">
                    <li><a href="index.html"><img
                                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg"
                                alt=""></a></li>
                    <li><a class="d-none" href="productList.html">商品列表</a></li>
                    <li><a class="d-none" href="story.html">品牌故事</a></li>
                </ul>
                <a class="member" href="#"><i class="bi bi-person"></i></a>
        </div>
    </header>