header {
  margin: 16px 0;
  @media (max-width:768px) {
      margin: 12px 0;
    }

  .container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;

    a {
      display: block;
      padding: 12px 0;
    }

    ul {
      width: 371px;

      li:nth-of-type(1) a {
        padding: 0;
      }
    }

    a[href='index.html'] {
      margin-left: -11px;
    }

    @media (max-width:768px) {
      .d-none {
        display: none;
      }
    }
  }

  .member {
    margin-left: auto;
    font-size: 20px;
  }
}