@mixin mb {
    @media(max-width:768px) {
        @content
    }
}
.mg-r-auto {
    margin-right: auto;
}

.mg-r-48px {
    margin-right: 48px;
}

.mg-r-40px {
    margin-right: 40px;
}

header {
    .mg-mb-r-0{
        @include mb{
             margin-right:0;
        }
    }
    
}
