.story {
    .bg-img {
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week1/hero.png");
        background-position: center;

    }

 

    .font-color-white {
        color: $font-white;
    }

    .pd-y-151px {
        padding-bottom: 151px;
        padding-top: 151px;
    }

    .pd-mb-y-87px {
        @include mb {
            padding-bottom: 87px;
            padding-top: 87px;
        }
    }

    .fontSize-mb-28px {
        @include mb {
            font-size: 28px;
        }
    }

    .fontSize-mb-20px {
        @include mb {
            font-size: 20px;
        }
    }

    .container-856px {
        max-width: 880px;
        margin: 0 auto;
        padding: 0 12px;
    }



    .container-1076px {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 12px;
    }




    .mg-mb-b-12px{
        @include mb{
            margin-bottom: 12px;
        }
    }
    .listStyle-disc{
        list-style: disc;
    }

    .pd-l-30px{
        padding-left: 30px;
    }
    .border-r{
        border-right:1px solid #212529;
        padding-right: 8px;
        margin-right: 8px;
    }
    .border-l-gray{
        border-left:3px solid $color-gray;
    }

    .pd-l-12px{
        padding-left: 12px;
    }
    .pd-l-8px{
        padding-left: 8px;
    }

    .font-hover:hover{
        color: darken($font-primary, 5%);
    }
}