<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css">
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="productList">

      <div class="container">

        <nav>
          <a class="item" href="#">首頁</a>
          <a class="item" href="#">女鞋</a>
          <a class="item" href="#">所有商品</a>
        </nav>
        <h3 class="mg-topBottom-24px font-size-24px">女鞋</h3>

        <div class="row splace-b">
          <div class="col-2 d-mb-none">
            <div class="row">
              <ul>
                <li><a href="#" class="green">所有商品</a></li>
                <li><a href="#">慢跑鞋</a></li>
                <li><a href="#">滑板鞋</a></li>
                <li><a href="#">厚底鞋</a></li>
                <li><a href="#">限定 / 聯名企劃</a></li
              </ul>
            </div>
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product.png"
                      alt="">
                    <h6 class="font-size-16px">PLATFORM 404</h6>
                    <p class="font-size-16px">NT$2,600</p>
                  </a></div>
              </div>
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-1.png"
                      alt="">
                    <h6>PLATFORM 404</h6>
                    <p>NT$2,600</p>
                  </a></div>
              </div>
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-2.png"
                      alt="">
                    <h6>PLATFORM 404</h6>
                    <p>NT$2,600</p>
                  </a></div>
              </div>
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-3.png"
                      alt="">
                    <h6>PLATFORM 404</h6>
                    <p>NT$2,600</p>
                  </a></div>
              </div>
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-4.png"
                      alt="">
                    <h6>PLATFORM 404</h6>
                    <p>NT$2,600</p>
                  </a></div>
              </div>
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-5.png"
                      alt="">
                    <h6>PLATFORM 404</h6>
                    <p>NT$2,600</p>
                  </a></div>
              </div>
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png"
                      alt="">
                    <h6>PLATFORM 404</h6>
                    <p>NT$2,600</p>
                  </a></div>
              </div>
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-7.png"
                      alt="">
                    <h6>PLATFORM 404</h6>
                    <p>NT$2,600</p>
                  </a></div>
              </div>
              <div class="col-4">
                <div><a href="#"><img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-8.png"
                      alt="">
                    <h6>PLATFORM 404</h6>
                    <p>NT$2,600</p>
                  </a></div>
              </div>
            </div>
            <ul class="page d-flex">

              <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>